#calculadoras h3, h4{
    text-align:center;

}
#calculadoras .contenedor{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

#calculadoras article{
    margin:15px;
}
#calculadoras img{
    width:100%;
    max-width:280px;
}